.standings-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.player-standing {
  display: flex;
  justify-content: space-around;
}
.player-standing.topcut {
  font-weight: 600;
  color: green;
}
.vgc-player {
  padding: 5px;
  font-size: 20px;
}
.vgc-player-score {
  padding: 5px;
  font-size: 20px;  
}