.vgc-pairings-header {
  display: flex;
  flex-direction: row;
}
.vgc-round-header {
  background-color: #adadad;
  padding: 5px;
  width: 50px;
}
.vgc-round-header.vgc-round-active {
  background-color: #ffffff;
  text-decoration: underline;
}
.vgc-round-content {
  display: none;
}
.vgc-round-content.vgc-round-active {
  display: block;
}