.vgc-match li {
  background-color: #dedede;
}

.vgc-match li.match-outcome-0 {
  background-color: transparent;
}

.match-outcome-5 .player-1 {
  color: green;
  font-weight: 600;
}

.match-outcome-1 .player-1 {
  color: green;
  font-weight: 600;
}

.match-outcome-2 .player-2 {
  color: green;
  font-weight: 600;
}